<div class="panel panel-default">
  <div class="panel-heading" style="display: flow-root;">
    <div class="pull-left">
      <h4>Posiciones</h4>
    </div>
    <div class="btn-group pull-right">
      <%= link_to new_position_path, class: "btn btn-primary fileinput-button font-white" do %>
        Crear Posición
      <%end%>
    </div>
  </div>
  <div class="panel-body">
    <table id="datatable" class="table table-striped table-hover datatable_table" data-source="<%= positions_path(format: :json) %>" cellspacing="0">
      <thead>
      <tr>
        <td>
          id
        </td>
        <td>
          Nombre
        </td>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>