<div class="page-footer">
	<div class="page-footer-inner"> 2017 &copy; Gestión Powered By
		<a target="_blank" href="http://www.apptec.cl">Apptec</a>
	</div>
	<div class="scroll-to-top">
		<i class="fal fa-chevron-up"></i>
	</div>
</div>