<table style="width: 100%;" border="1">
<tbody>
<tr>
<td>Contacto Establecido</td>
<td>Demo Programada</td>
<td>Propuesta Realizada</td>
<td>Negociaciones Comenzadas</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>